# 수학
-https://www.acmicpc.net/workbook/view/9370

## 10430번 나머지

In [ ]:
A,B,C = map(int,input().split())
print((A+B)%C)
print(((A%C)+(B%C))%C)
print((A*B)%C)
print(((A%C)*(B%C))%C)

## 4375번 1

In [ ]:
while True:
  try : 
      n=int(input())
  except EOFError:
      break
  a,b='1',1
  while int(a*b)%n!=0:
    b+=1
  print(b)

## 1037번 약수

In [ ]:
n = int(input())
arr=list(map(int,input()))
arr.sort()
print(arr[0]*arr[-1])

## 17427번 약수의 합 2

### 시간초과

In [ ]:
n = int(input())
ans=0
for i in range(1,n+1):
    for j in range(1,int(i**0.5)+1):
        if i%j==0: 
            m = i/j
            if m==j:
                 ans+=j
            else:
                ans+=(j+m)
print(int(ans))

70
4065

### f(x)구하지 말고

In [ ]:
n = int(input())
sum=0
for i in range(1,n+1):
    sum += (n//i)*i
print(sum)

3
8

## 17425번 약수의 합

### 시간 초과

In [ ]:
for _ in range(int(input())):
    sum = 0
    n = int(input())
    for i in range(1,n+1):
        sum += (n//i)*i
    print(sum)

87

In [ ]:
# 1 1
# 2 1 2
# 3 1 3 
# 4 1 2 4
# 5 1 5
# 6 1 2 3 6
# 7 1 7
# 8 1 2 4 8
# 9 1 3 9
# 10 1 2 5 10
M=1000001
D=[1]*1000001
for i in range (2,M):
    j=1
    while i*j<=M-1:
        D[i*j] += i
        j +=1
S=[0]*M
for i in range (1,M):
    S[i] = S[i-1] + D[i]

for _ in range(int(input())):
    n=int(input())
    print(S[n])

In [ ]:
import sys

M=1000001
D=[1]*1000001
for i in range (2,M):
    j=1
    while i*j<=M-1:
        D[i*j] += i
        j +=1
S=[0]*M
for i in range (1,M):
    S[i] = S[i-1] + D[i]

for _ in range(int(input())):
    n=int(input())
    print(S[n])

n = int(input())
for _ in range(n):
    a = int(sys.stdin.readline())
    sys.stdout.write(str(S[a])+"\n")

## 2609번 최대공약수와 최소공배수

In [ ]:
A,B = map(int,input().split())
for i in range(A,0,-1):
    if A%i==0 and B%i==0:
         gcd = i
         break
print(gcd)
print(int(A*B/gcd))

4 2
2
4

## 1978번 소수 찾기

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
count=0

for i in range(n):
    check=True
    if arr[i]==1:
        check=False
    
    for j in range(2,arr[i]):
        if arr[i]%j==0:
            check= False
            break
    if check ==True:
        count+=1

print(count)

## 1929번 소수 구하기

In [ ]:
n,m=map(int,input().split())
for i in range(n,m+1):
        if i==1: continue
        elif i ==2:
            print(i)
        else:
            for j in range(2,int(i**0.5)+1):
                if i%j==0 :
                    break
            else :
                print(i)

2 50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

## 6588번 골드바흐의 추측

In [ ]:
import sys
M = 1000000
check_arr = [True] * (M+1)
for i in range(2,int(M**0.5)+1):
    for j in range(2*i,M+1,i):
        if check_arr[i] == True:
            if check_arr[j] == True:
                check_arr[j] = False
while True:
    n = int(sys.std.readline.input())
    if n == 0: break
    else:
        for i in range(2,n):
            if check_arr[i] == True and check_arr[n-i] == True:
                print('%d = %d + %d' %(n,i,n-i))
                break

0

In [ ]:
r= 1000000

check = [True for _ in range(r)]

for i in range(2,int(r**0.6)):
    if check[i]==True:
        for j in range(i*2, r, i) : 
            if check[j] == True :
                check[j] = False            #에라토스테네스의 체

while(True):                               #입력받은 수가 에라토스테네스의 체에 속하는지, 즉 소수인지
    n = int(input())

    if n==0 : break
    for i in range(3,r):
        if check[i] == True:
            if check[n-i] == True :
                print("%d = %d + %d"%(n , i , n-i))
                break

# 부르트 포스
https://www.acmicpc.net/workbook/view/9371

## 2309번 일곱 난장이

In [ ]:
arr = [int(input()) for _ in range(9)]

for i in range(9):
  for j in range(i+1,9):
    if sum(arr) - arr[i] - arr[j] == 100 :
      one,two = arr[i],arr[j]
      break
arr.remove(one),arr.remove(two)
arr.sort()
for i in range(7):
  print(arr[i])

## 3085번 사탕게임

In [ ]:
arr = []
n = int(input())
max_num = 0
for _ in range(n):
  arr.append(list(map(str,input())))

def width_max():
  global max_num, n
  for i in range(n):
    row_max = 1
    for j in range(n-1):
      if arr[i][j]==arr[i][j+1]:
        row_max +=1
        max_num = max(max_num,row_max)
      else : row_max = 1

def height_max():
  global max_num, n
  for i in range(n):
    column_max = 1
    for j in range(n-1):
      if arr[j][i]==arr[j+1][i]:
        column_max +=1
        max_num = max(max_num,column_max)
      else: column_max = 1

for i in range(n):
  for j in range(n-1):
    if arr[i][j] != arr[i][j+1]:
      arr[i][j],arr[i][j+1] = arr[i][j+1],arr[i][j]
      height_max()
      width_max()
      arr[i][j+1],arr[i][j] = arr[i][j],arr[i][j+1] 

    if arr[j][i] != arr[j+1][i]:
      arr[j][i],arr[j+1][i] = arr[j+1][i],arr[j][i]
      height_max()
      width_max()
      arr[j+1][i],arr[j][i] = arr[j][i],arr[j+1][i] 

print(max_num)

6

## 1479번 날짜 계산

In [ ]:
E, S, M = map(int,input().split())

n = 1
while True:
  if ((n-E)%15 == 0)and((n-S)%28 == 0) and((n-M)%19 == 0):
    print(n)
    break
  else : n +=1

## 1107번 리모컨

In [ ]:
target = int(input())
n = int(input())
b_num = list(map(int,input().split()))

min_num = abs(100-target)
for i in range(1000001):
  num = str(i)
  for j in range(len(num)):
    if int(num[j]) in b_num:
      break
    elif j == (len(num)-1):
      min_num=min(min_num,abs(int(num)-target)+len(num))
print(min_num)

[1, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
import sys
input = sys.stdin.readline
target = int(input())
n = int(input())
broken = list(map(int, input().split()))


min_count = abs(100 - target)

for nums in range(1000001):
    nums = str(nums)
    
    for j in range(len(nums)):
        # 각 숫자가 고장났는지 확인 후, 고장 났으면 break
        if int(nums[j]) in broken:
            break

        # 고장난 숫자 없이 마지막 자리까지 왔다면 min_count 비교 후 업데이트
        elif j == len(nums) - 1:
            min_count = min(min_count, abs(int(nums) - target) + len(nums))

print(min_count)

## 14500번 테트로미노

In [ ]:
N,M =map(int,input().split())
arr=[list(map(int,input().split())) for _ in range(N)]
max_num=0

def bar1(arr):
  global max_num
  bar1_max = 0
  for i in range(N):
    for j in range(M-3):
      bar1_max=arr[i][j]+arr[i][j+1]+arr[i][j+2]+arr[i][j+3]
      max_num=max(max_num,bar1_max)

def bar2(arr):
  global max_num
  bar2_max = 0
  for i in range(N-3):
    for j in range(M):
      bar2_max=arr[i][j]+arr[i+1][j]+arr[i+2][j]+arr[i+3][j]
      max_num=max(max_num,bar2_max)

def square(arr):
  global max_num
  square_max = 0
  for i in range(N-1):
    for j in range(M-1):
      square_max = arr[i][j]+arr[i+1][j]+arr[i][j+1]+arr[i+1][j+1]
      max_num=max(max_num,square_max)

def T1(arr):
  global max_num
  T1_max = 0
  for i in range(N-1):
    for j in range(M-2):
      T1_max = arr[i][j]+arr[i][j+1]+arr[i][j+2]+arr[i+1][j+1]
      max_num=max(max_num,T1_max)

def T2(arr):
  global max_num
  T2_max = 0
  for i in range(N-1):
    for j in range(M-2):
      T2_max = arr[i+1][j]+arr[i+1][j+1]+arr[i+1][j+2]+arr[i][j+1]
      max_num=max(max_num,T2_max)

def T3(arr):
  global max_num
  T3_max = 0
  for i in range(N-2):
    for j in range(M-1):
      T3_max = arr[i][j]+arr[i+1][j]+arr[i+2][j]+arr[i+1][j+1]
      max_num=max(max_num,T3_max)

def T4(arr):
  global max_num
  T4_max = 0
  for i in range(N-2):
    for j in range(M-1):
      T4_max = arr[i+1][j]+arr[i][j+1]+arr[i+1][j+1]+arr[i+2][j+1]
      max_num=max(max_num,T4_max)

def L1(arr): #L모양
  global max_num
  L1_max = 0
  for i in range(N-2):
    for j in range(M-1):
      L1_max = arr[i][j]+arr[i+1][j]+arr[i+2][j]+arr[i+2][j+1]
      max_num=max(max_num,L1_max)

def L2(arr): #L모양 시계 방향 90도 회전
  global max_num
  L2_max = 0
  for i in range(N-1):
    for j in range(M-2):
      L2_max = arr[i+1][j]+arr[i][j]+arr[i][j+1]+arr[i][j+2]
      max_num=max(max_num,L2_max)

def L3(arr): #L모양 180도 회전
  global max_num
  L3_max = 0
  for i in range(N-2):
    for j in range(M-1):
      L3_max = arr[i][j]+arr[i][j+1]+arr[i+1][j+1]+arr[i+2][j+1]
      max_num=max(max_num,L3_max)

def L4(arr): #L모양 반시계 방향 90도 회전
  global max_num
  L4_max = 0
  for i in range(N-1):
    for j in range(M-2):
      L4_max = arr[i+1][j]+arr[i+1][j+1]+arr[i+1][j+2]+arr[i][j+2]
      max_num=max(max_num,L4_max)

def dL1(arr): #L모양 좌우 대칭
  global max_num
  dL1_max = 0
  for i in range(N-2):
    for j in range(M-1):
      dL1_max = arr[i][j+1]+arr[i+1][j+1]+arr[i+2][j+1]+arr[i+2][j]
      max_num=max(max_num,dL1_max)

def dL2(arr): #L모양 좌우 대칭 90도 회전
  global max_num
  dL2_max = 0
  for i in range(N-1):
    for j in range(M-2):
      dL2_max = arr[i][j]+arr[i+1][j]+arr[i+1][j+1]+arr[i+1][j+2]
      max_num=max(max_num,dL2_max)

def dL3(arr): #L모양 좌우 대칭 180도 회전
  global max_num
  dL3_max = 0
  for i in range(N-2):
    for j in range(M-1):
      dL3_max = arr[i][j+1]+arr[i][j]+arr[i+1][j]+arr[i+2][j]
      max_num=max(max_num,dL3_max)

def dL4(arr): #L모양 좌우 대칭 1반시계 90도 회전
  global max_num
  dL4_max =0
  for i in range(N-1):
    for j in range(M-2):
      dL4_max = arr[i][j]+arr[i][j+1]+arr[i][j+2]+arr[i+1][j+2]
      max_num=max(max_num,dL4_max)

def zig1(arr):
  global max_num
  zig1_max = 0
  for i in range(N-2):
    for j in range(M-1):
      zig1_max = arr[i][j]+arr[i+1][j]+arr[i+1][j+1]+arr[i+2][j+1]
      max_num=max(max_num,zig1_max)

def zig2(arr): # zig1 90도 회전
  global max_num
  zig2_max = 0
  for i in range(N-1):
    for j in range(M-2):
      zig2_max = arr[i+1][j]+arr[i+1][j+1]+arr[i][j+1]+arr[i][j+2]
      max_num=max(max_num,zig2_max)

def dzig1(arr): #zig1 좌우대칭
  global max_num
  dzig1_max = 0
  for i in range(N-2):
    for j in range(M-1):
      dzig1_max = arr[i][j+1]+arr[i+1][j+1]+arr[i+1][j]+arr[i+2][j]
      max_num=max(max_num,dzig1_max)

def dzig2(arr): # dzig1 90도 회전
  global max_num
  dzig2_max = 0
  for i in range(N-1):
    for j in range(M-2):
      dzig2_max = arr[i][j]+arr[i][j+1]+arr[i+1][j+1]+arr[i+1][j+2]
      max_num=max(max_num,dzig2_max)


bar1(arr)
bar2(arr)
square(arr)
T1(arr)
T2(arr)
T3(arr)
T4(arr)
L1(arr)
L2(arr)
L3(arr)
L4(arr)
dL1(arr)
dL2(arr)
dL3(arr)
dL4(arr)
zig1(arr)
zig2(arr)
dzig1(arr)
dzig2(arr)
print(max_num)

5 5

ValueError: ignored

0
1
2